body {
    font-size: 100%;
    width: 500px;
    margin: 0 auto;
    padding: 1em;
    font-family: Arial, Verdana, sans-serif;
	color: #ffcc66;
	text-align: center;
}
ul {
    display: none;
}
#foodstyle {
    float: left;
}

